<div
  class="container rounded mt-5 mb-5"
  style="
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    opacity: 0.9;
  "
>
  <div class="text-center">
    <h3>Inscription du 07/06/2020 à 16h</h3>
    <hr />
    <div class="row">
      <div class="col-sm">
        <button
          type="button"
          class="btn btn-success btn-lg btn-block"
          [routerLink]="['/registration/team']"
        >
          J'ai une équipe
        </button>
      </div>
      <div class="col-sm">
        <button
          type="button"
          class="btn btn-primary btn-lg btn-block"
          [routerLink]="['/registration/personnal']"
        >
          J'ai pas d'équipe
        </button>
      </div>
    </div>
  </div>
</div>
