<div
  class="container rounded mt-5 mb-5"
  style="
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    opacity: 0.9;
  "
>
  <div class="text-center">
    <h3>Diffusion du tournoi dimanche dès 15h30</h3>
    <div class="embed-responsive embed-responsive-16by9">
    <iframe
      class="embed-responsive-item"
      src="https://player.twitch.tv/?channel=shyndard&parent=footslime.over2craft.com"
      frameborder="0"
      allowfullscreen="true"
      scrolling="no"
      autoplay="true"
    ></iframe>
  </div>
  </div>
</div>
