<div
  class="container rounded mt-5 mb-5 text-justify"
  style="
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    opacity: 0.9;
  "
>
  <h1 class="text-center">
    Règlement du tournoi de FootSlime 2020
  </h1>
  <hr />
  <h3>1. Déroulement d'un match</h3>
  <p>
    Deux équipe s'affrontent sur un terrain. Un slime fait office de ballon.
    L'objectif est de faire faire tomber le slime dans le but de l'équipe
    adverse. Deux items seront attribués : un pour pousser légèrement le slime,
    un autre pour faire un dégagement. La première équipe qui marque 7 buts
    gagne le match. Dans le cas où un match atteint 5 minutes de jeu, l'équipe
    avec le plus grand nombre de but gagne. Si les équipes sont à égalité, la
    première à marquer un but contre l'équipe adverse remporte le match.
  </p>
  <hr />
  <h3>2. Déroulement du tournoi</h3>
  <p>
    Le tournoi sera organisé en deux phases :
  </p>
  <ul>
    <li>
      Les équipes validées s'affrontent dans des matchs par poule. L'équipe
      victorieuse de chaque poule sera qualifiée pour la seconde phase.
    </li>
    <li>
      Les équipes victorieuses de chaque poule s'affrontent dans un mode par
      élimination. Quatre matchs seront organisés :
    </li>
  </ul>
  <div class="text-center">
    <img src="assets/img/tree.png" class="img-fluid text-center" />
  </div>

  <hr />
  <h3>3. Règles</h3>
  <ul>
    <li>Equipe de 3 ou 4 joueurs</li>
    <li>Un joueur ne peut faire parti que d'une seule équipe</li>
    <li>Ne pas retirer son armure</li>
    <li>Ne pas jeter d'item sur le terrain</li>
    <li>Ne pas entrer sur le terrain si votre équipe ne joue pas</li>
    <li>En cas de désaccord, l'organisation tranchera</li>
    <li>Être ponctuel</li>
    <li>Être fair-play</li>
    <li>Respecter les compétiteurs, les spectateurs et le staff</li>
    <li>
      En cas de déconnexion durant un match, le joueur ne pas pas rejoindre le
      match en cours. Il devra attendre le prochain
    </li>
  </ul>
  <hr />
  <p>
    En cas de non respect des consignes, une inscription peut être invalidée.<br />
    Si vous ne voyez pas votre équipe dans le tableau des participants le jour
    du tournoi, vous n'avez pas été accepté. Dans ce cas contactez
    gwazed_stourmer ou shyndard sur discord ou en jeu.
  </p>
</div>
