<div
  class="container rounded mt-5 mb-5"
  style="
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    opacity: 0.9;
  "
>
  <h1 class="text-center">
    Tournoi de FootSlime 2020 - Over2craft
  </h1>
  <hr />
  <h3 class="text-center">
    Le dimanche 7 Juin de 16h à 18h
  </h3>
  <h5 class="text-center">
    Inscriptions ouvertes jusqu'au 7 juin 15h30
  </h5>
  <hr />
  <h3>Gains <small>pour chaque membre</small></h3>
  <div class="table-responsive">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">Rang final de l'équipe</th>
          <th scope="col">Gain global</th>
          <th scope="col">Gain Freebuild (*)</th>
          <th scope="col">Gain PvP (*)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>1 grade pendant 7 jours<br />1 item commémoratif de l'event</td>
          <td>10 overkeys <strong>spéciales</strong> + 100k over</td>
          <td>Gain mystère</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>1 item commémoratif de l'event</td>
          <td>5 overkeys <strong>spéciales</strong> (freebuild) + 50k over</td>
          <td>Gain mystère</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>1 item commémoratif de l'event</td>
          <td>2 overkeys <strong>spéciales</strong> (freebuild) + 25k over</td>
          <td>Gain mystère</td>
        </tr>
        <tr>
          <th scope="row">Tous</th>
          <td></td>
          <td>2 overkeys classiques</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>
    <strong>(*)</strong> : Au choix gain PvP ou Freebuild mais pas les deux.
  </p>
</div>
